---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Oyparaploo">
  <h1>Oyparaploo</h1>
  <ul>
    <li><a href="/the-lobby">The Lobby</a></li>
    <li><a href="/the-invocation">The Invocation</a></li>
    <li><a href="/portraits">The Portraits</a></li>
    <li><a href="/the-grounds">The Grounds</a></li>
    <li><a href="/sixty-entrances">Sixty Entrances</a></li>
    <li><a href="/fragments">Fragments</a></li>
    <li><a href="/our-practice">Our Practice</a></li>
    <li><a href="/the-puppets">The Puppets</a></li>
    <li><a href="/contact-sheet">Contact Sheet</a></li>
    <li><a href="/listening-room">Listening Room</a></li>
    <li><a href="/rooted-in-tradition">B.O.M.S Rooted in Tradition</a></li>
    <li><a href="/finals-leah-stained-glass-bottles">Finals Leah All The Stained-Glass Bottles Are Full</a></li>
    <li><a href="/infinite-shape-of-family">The Infinite Shape of Family</a></li>
    <li><a href="/imperfect-lit-demo">Imperfect Lit Demo</a></li>
    <li><a href="/support">Support</a></li>
    <li><a href="/the-door">The Door</a></li>
    <li><a href="/americas-weirdest">Americas Weirdest</a></li>
    <li><a href="/are-we-working-too-much-inside-english">Are We Working Too Much Inside English</a></li>
    <li><a href="/all-these-difficult-human-realities-inspirational">All These Difficult Human Realities Inspirational</a></li>
    <li><a href="/legal-notice">Legal Notice</a></li>
    <li><a href="/privacy-policy">Privacy Policy</a></li>
    <li><a href="/consent">Cookie Consent</a></li>
  </ul>
</BaseLayout>